<!-- app/views/pages/continue.html.erb -->
<h2>Successful logged in.</h2>
  <%= link_to "User Page", :controller => "users", :action => "index" %><br />
  <%= link_to "Suggestion Page", :controller => "user_suggestions", :action => "index" %><br /><br />
  <%= link_to "Logout", :controller => "pages", :action => "logout" %> 
