<!-- app/views/user_suggestions/new.html.erb -->

<% if cookies.signed[:authenticated]%>
  <h2>Create Suggestion</h2>
  <%= form_for :user_suggestion, :url => {:action => "create"} do |f| %>
    <%= f.text_area :suggestion %><br />
    <%= f.submit "Submit" %>
  <% end %>
  <%= button_to "Cancel", :controller => "user_suggestions", :action => "index" %>
<% else %>
  <h2>Insufficient Permission.</h2>
<% end %>
